 .container-fluid{
        margin-top: 2em;
    }
    .show-profile{
         animation-delay: 0.1s; 
    }
    .to-do-list{
         animation-delay: 0.1s;        
    }  
    .graph{
         animation-delay: 0.2s;
    }