 .floating-menu {
            padding: 5px;
            margin-top: 150px;
            margin-left:120px;
            position: fixed;
            z-index: 10;
            top: 100px;
            left: 0;
        }        