.generate {
  text-align: center;
  margin: 50px; }

#selecttor {
  margin-top: 30px;
  margin-bottom: 50px; }

#selectyearmonth {
  margin-top: 30px;
  margin-bottom: 50px; }

#selectinterval {
  margin-top: 30px;
  margin-bottom: 50px; }

#selecttodolist {
  margin-top: 30px;
  margin-bottom: 50px; }
